.answer-button {
  font-weight: bold;
  background-color: #2840c1;
  color: var(--p-color);
  overflow: hidden;
  opacity: 0.8;
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 1rem;
}

li {
  width: 100%;  
}

.answer-button:hover {
  color: white; 
  cursor: pointer;
  background-color: #334bc2;
  box-shadow: 0px 0px 20px 0px #2840c1;
} 