.answer-button {
  background-color: #2840c1;
  width: 60%;
  color: white;
  border: 1px solid black;
  padding: 3%;
  overflow: hidden;
  opacity: 0.8;
}

.answer-button:hover {
  background-color: #8b99e0;
}