#concl-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#play-again-button {
  background: radial-gradient(bottom, #4923bf 10%, #2840c1 60%);
  color: white;
  padding: 15px 50px;
  width: 60%;
  border: none;
  opacity: 0.8;
  font-weight: bold;
  box-shadow: 0px 0px 20px 0px #2840c1;
  text-transform: uppercase;  
}


#play-again-button:hover {
  cursor: pointer;
  background: radial-gradient(bottom, #4923bf 10%, #344cc2 60%);
}

.msg {
  font-weight: normal;
  text-align: center;
  color: #919fdd;
}