#play-again-button {
  background-color: #2840c1;
  width: 60%;
  color: white;
  border: 1px solid black;
  padding: 3%;
}

#play-again-button:hover {
  background-color: #8b99e0;
}

.msg {
  font-size: 0.8em;
}

