@import url('https://fonts.googleapis.com/css?family=Nunito|PT+Sans');

#input-description {
  color: var(--p-color);
  text-align: center;
}

#text-and-submit {
  opacity: 0.8;
  display: flex;
  justify-content: center;
}

#text-input {
  padding: 10px;
  width: 60%;
}

#submit-button {
  color: white;
  padding: 12px;
  font-weight: bold;
  background: radial-gradient(bottom, #4923bf 10%, #2840c1 60%);
  border: none;
  box-shadow: 0px 0px 20px 0px #2840c1;
  cursor: pointer;  
  text-transform: uppercase;
  outline: none;  
}

#submit-button:hover {
  background: radial-gradient(bottom, #4923bf 10%, #344cc2 60%);
}