#input-description {
  font-size: 0.8em;
  color: #919fdd;
}

#text-input {
  padding: 3%;
  display: block;
  float: left;
  width: 70%;
}

#submit-button {
  background-color: #2840c1;
  color: white;
  border: 1px solid black;
  padding: 3% 0 3% 0;
  width: 20%;
  font-weight: bold;
}

#submit-button:hover {
  background-color: #8b99e0;
}

#text-and-submit {
  opacity: 0.8;
  width: 100%;
  border: 7px groove white;
  border-radius: 5%;
}