@import url('https://fonts.googleapis.com/css?family=Nunito|PT+Sans');

/*
position relativet pois
pienet prosentit pois (px
floatit ja clearit pois (flexbox)
height kovakoodaus pois
muuttujat käyttöön
buttonit yhteiseen luokkaan
*/

:root {
  --hello: #fff;
}

body {
  background: linear-gradient(to right top, #45007a, #4923bf 40%);
  font-family: 'PT-Sans', sans-serif;
  display: flex;
  justify-content: center;
  
}

#app {
  background: linear-gradient(to right top, #3d0e7b, #141a4a 40%);
  color: white;
  padding: 20px 20px 0 20px;
  max-width: 600px;
  box-shadow: -11px 10px 35px 1px rgba(20,26,74,1);

  /*positioning*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

#main-header {
  width: 100%;
  margin-top: 0;

  text-align: center;
}

#score {
  color: #919fdd;

  text-align: center;
}

#talking-head {
  width: 100px;
  height: 100px;

  align-self: center;
}