@import url('https://fonts.googleapis.com/css?family=Nunito|PT+Sans');

html {
  height: 100%;
}

:root {
  --body-top: #4923bf;
  --body-bottom: #45007a;
  --app-top: #141a4a;
  --app-bottom: #3d0e7b;
  --p-color: #919fdd;
  --button-blue: #2840c1;
  --button-blue-hover: #344cc2;
}

body {
  background: linear-gradient(to right top, var(--body-bottom), var(--body-top) 40%);
  font-family: 'PT-Sans', sans-serif;
  display: flex;
  justify-content: center;  
}

#app {
  background: linear-gradient(to right top, var(--app-bottom), var(--app-top) 40%);
  color: white;
  padding: 20px 20px 0 20px;
  max-width: 400px;
  height: 500px;
  box-shadow: -11px 10px 35px 1px var(--app-top);

  /*positioning*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

#header-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

#main-header {
  width: 100%;
  margin-top: 0;

  text-align: center;
}

#score {
  color: var(--p-color);
  text-align: center;
}

#talking-head {
  width: 120px;
  height: 120px;
}