@import url('https://fonts.googleapis.com/css?family=Nunito|PT+Sans');


body {
  background: linear-gradient(to right top, #45007a, #4923bf );
  font-family: 'PT-Sans', sans-serif;
  height: 700px;
}

#app {
  background: linear-gradient(to right top, #3d0e7b, #141a4a);
  color: white;
  padding: 0 5% 0 5%;
  max-width: 45%;
  height: 500px;
  position: relative;
  top: 25%;
  left: 20%;

  text-align: center;

}

#main-header {
  margin-top: 0;
  padding-top: 5%;
  font-size: 1.7em;
}

#score {
  color: #919fdd;
}

#talking-head {
  width: 50px;
  height: 50px;
}